


#kxc_header{
	line-height: 60px;
}

#kxc_header .top-bar{
    height:60px;
    line-height: 59px;
    border-bottom: 1px solid #e0e0e0;
}

#kxc_header .top-bar .container .row>div+div{
    border-left: 1px solid #e0e0e0;
}

#kxc_button .row{
	line-height: 60px;
	padding: 3% 40%;
}

#kxc_list{
	background-color:#f0f0f0;
	line-height: 150px; 
	margin: 0 15%;
}
#kxc_list .kxc_list-25{
	margin-left: 40px ;
}
#kxc_list #xc_list_ok{
	padding-top: 20px;
}

